html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.grid {
    display: grid;
    gap: 10px;
}

.grid.gap-0 {
    gap: 0;
}

.grid-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-1-2 {
    grid-template-columns: 33% 66%;
}

.grid-2-1 {
    grid-template-columns: 66% 33%;
}

.grid-3-2 {
    grid-template-columns: 60% 39%;
}

@keyframes ldio-zl6jgwvu84 {
    0% {
        opacity: 1;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1.5, 1.5);
    }

    100% {
        opacity: 0;
        backface-visibility: hidden;
        transform: translateZ(0) scale(1, 1);
    }
}

.ldio-zl6jgwvu84 div>div {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #25b3ba;
    animation: ldio-zl6jgwvu84 1s linear infinite;
}

.ldio-zl6jgwvu84 div:nth-child(1)>div {
    left: 148px;
    top: 88px;
    animation-delay: -0.875s;
}

.ldio-zl6jgwvu84>div:nth-child(1) {
    transform: rotate(0deg);
    transform-origin: 160px 100px;
}

.ldio-zl6jgwvu84 div:nth-child(2)>div {
    left: 130px;
    top: 130px;
    animation-delay: -0.75s;
}

.ldio-zl6jgwvu84>div:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 142px 142px;
}

.ldio-zl6jgwvu84 div:nth-child(3)>div {
    left: 88px;
    top: 148px;
    animation-delay: -0.625s;
}

.ldio-zl6jgwvu84>div:nth-child(3) {
    transform: rotate(90deg);
    transform-origin: 100px 160px;
}

.ldio-zl6jgwvu84 div:nth-child(4)>div {
    left: 46px;
    top: 130px;
    animation-delay: -0.5s;
}

.ldio-zl6jgwvu84>div:nth-child(4) {
    transform: rotate(135deg);
    transform-origin: 58px 142px;
}

.ldio-zl6jgwvu84 div:nth-child(5)>div {
    left: 28px;
    top: 88px;
    animation-delay: -0.375s;
}

.ldio-zl6jgwvu84>div:nth-child(5) {
    transform: rotate(180deg);
    transform-origin: 40px 100px;
}

.ldio-zl6jgwvu84 div:nth-child(6)>div {
    left: 46px;
    top: 46px;
    animation-delay: -0.25s;
}

.ldio-zl6jgwvu84>div:nth-child(6) {
    transform: rotate(225deg);
    transform-origin: 58px 58px;
}

.ldio-zl6jgwvu84 div:nth-child(7)>div {
    left: 88px;
    top: 28px;
    animation-delay: -0.125s;
}

.ldio-zl6jgwvu84>div:nth-child(7) {
    transform: rotate(270deg);
    transform-origin: 100px 40px;
}

.ldio-zl6jgwvu84 div:nth-child(8)>div {
    left: 130px;
    top: 46px;
    animation-delay: 0s;
}

.ldio-zl6jgwvu84>div:nth-child(8) {
    transform: rotate(315deg);
    transform-origin: 142px 58px;
}

.loadingio-spinner-spin-831ohvtsl1t {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
    transform: scale(0.3) translateY(-210px);
}

.ldio-zl6jgwvu84 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-zl6jgwvu84 div {
    box-sizing: content-box;
}

.loading {
    position: fixed;
    z-index: 999999999999999;
    left: 0;
    top: 0;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

.loading-logo {
    width: 130px;
}

body.isLoading {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* FONTS */

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../assets/fonts/SVN-GothamBoldItalic.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../assets/fonts/SVN-GothamLightItalic.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Book';
    src: url('../assets/fonts/SVN-GothamBookItalic.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamBookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../assets/fonts/SVN-Gotham.woff2') format('woff2'),
        url('../assets/fonts/SVN-Gotham.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../assets/fonts/SVN-GothamBlackItalic.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamBlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../assets/fonts/SVN-GothamBold.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Book';
    src: url('../assets/fonts/SVN-GothamBook.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../assets/fonts/SVN-GothamItalic.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../assets/fonts/SVN-GothamLight.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham XLight';
    src: url('../assets/fonts/SVN-GothamXLightItalic.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamXLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../assets/fonts/SVN-GothamBlack.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham XLight';
    src: url('../assets/fonts/SVN-GothamXLight.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamXLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../assets/fonts/SVN-GothamThin.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../assets/fonts/SVN-GothamLight.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../assets/fonts/SVN-GothamThinItalic.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Ultra';
    src: url('../assets/fonts/SVN-GothamUltraItalic.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamUltraItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham Ultra';
    src: url('../assets/fonts/SVN-GothamUltra.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamUltra.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gotham';
    src: url('../assets/fonts/SVN-GothamBold.woff2') format('woff2'),
        url('../assets/fonts/SVN-GothamBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

a:hover {
    color: unset;
    text-decoration: none;
}