.header {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    z-index: 10000000;
}

.ani {
    animation-fill-mode: forwards;
}

.op-0 {
    opacity: 0;
}

.sc-0 {
    transform: scale(0);
}

.img-max {
    max-width: 100%;
}

.header img {
    height: 100%;
    width: auto;
}

.logo {
    height: 50px;
    margin-left: 20px;
}

.menu {
    height: 20px;
    margin-right: 20px;
}

html {
    min-height: 100vh;
    background: url("../assets/images/bg.png") center top no-repeat;
    font-family: SVN-Gotham;
}

.center-abs {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section {
    overflow: hidden;
    position: relative;
}

.section-1-bg {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.section-1-bg img {
    transition: all 0.5s linear 0s;
    transform: translate(-50%, -50%) scale(1.2);
    height: 100vh;
}

.section-1-bg img:not(:first-child) {
    opacity: 0;
}

.section-1-text {
    margin: 140px 0px;
    padding-left: 60vw;
    background-image: linear-gradient(135deg, rgb(233, 208, 166) 0%, rgb(253, 242, 223) 48%, rgb(233, 208, 166) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-1-text span {
    font-size: 35px;
    text-transform: uppercase;
}

.section-1-text h2 {
    margin-top: 10px;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-2 {
    position: relative;
}

.section-2-bg {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.section-2-text-bg {
    opacity: 0;
    overflow: hidden;
}

.section-2-text-bg img {
    width: 100%;
}

.section-2-text,
.section-2-title {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 5%;
    width: 20vw;
    transform: translate(-50%, 50%);
}

.section-2-title {
    width: 18%;
}

.section-2-title img {
    width: 100%;
}

.section-2-text {
    display: flex;
    flex-direction: column;
}

.section-3 {
    min-height: 100vh;
    background: url("../assets/images/section_3_bg.png") center top / auto 100% no-repeat;
    padding: 0px 5vw;
}

.section-3-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3-title {
    font-size: 69px;
    font-weight: 700;
    color: rgb(26, 148, 174);
    opacity: 0;
    letter-spacing: 4px;
    line-height: 78px;
}

.section-3-decs {
    font-size: 35px;
    font-weight: 400;
    color: rgb(26, 148, 174);
    margin: 0px 0px 25px;
}

.section-3-text {
    line-height: 22px;
    font-family: "SVN-Gotham Book";
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.map {
    position: relative;
    opacity: 0;
}

.stick {
    position: absolute;
    width: 16%;
    top: 35%;
    left: 44%;
    animation-iteration-count: infinite;
}

.stick img {
    width: 100%;
    height: auto;
}

.section-3-infor {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 40%;
    max-width: 510px;
    height: 39vh;
    padding: 0 30px;
    opacity: 0;
    transform: translateY(100%);
    background-image: linear-gradient(135deg, rgb(221, 212, 197) 0%, rgb(247, 223, 189) 48%, rgb(221, 212, 197) 100%);
}

.section-3-infor-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    color: rgb(26, 148, 174);
    z-index: 999999;
}

.section-3-infor-arrow img {
    width: 40px;
}

.section-3-infor-arrow-right {
    padding-left: 8px;
}

.section-3-infor-wrapper {
    display: flex;
    align-items: end;
    height: 100%;
    position: relative;
}

.section-3-infor-wrapper::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-in 0s;
    background-image: linear-gradient(135deg, rgb(221, 212, 197) 0%, rgb(247, 223, 189) 48%, rgb(221, 212, 197) 100%);
}

.section-3 .swiper-slide-active .section-3-infor-wrapper::after {
    height: 0%;
}

.section-3-infor-number {
    font-size: 300px;
    color: rgb(26, 148, 174);
    font-weight: 600;
    font-family: "SVN-Gotham XLight";
}

.section-3-infor-content {
    color: rgb(26, 148, 174);
    padding-left: 30px;
    padding-bottom: 20px;
}

.section-4-banner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section-4-banner img {
    width: 80%;
}

.section-4-title {
    color: rgb(26, 148, 174);
    padding-left: 40px;
}

.section-4-title h2 {
    font-size: 80px;
    line-height: 64px;
}

.section-4-title span {
    font-size: 25px;
    letter-spacing: 1px;
    margin-left: 20px;
    font-weight: 500;
}

.section-4-carousel {
    min-height: 300px
}

.section-4-content {
    margin: 30px 0px;
    padding-left: 40px;
    font-size: 17px;
    font-family: "SVN-Gotham";
    font-weight: 300;
}

.section-4-card img {
    width: 100%;
}

.section-4-card {
    transition: all 0.2s linear;
}

/* 
.section-4 .swiper-slide {
    transition: all 0.2s linear 0s;
}

.section-4 .swiper-slide-duplicate-prev {
    transform: scale(1.4) translateY(13%) !important;
}

.section-4 .swiper-slide-duplicate-active,
.section-4 .swiper-slide-active {
    transform: translateX(12%) !important;
}

.section-4 .swiper-slide-next {
    transform: translateX(-7%) !important;
}

.section-4 .swiper-slide {
    transform: translateX(-12%);
}

.section-4 .swiper-slide.swiper-slide-active,
.section-4 .swiper-slide.swiper-slide-duplicate.swiper-slide-active {
    transform: translateX(0%) !important;
} */

.section-4-card {
    transition: all 0.5s ease;
    overflow: hidden;
    height: 180px;
    width: 100%;
    display: flex;
    align-items: start;
}

.section-4-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-4 .swiper-slide-next .section-4-card {
    height: 300px;
}

.section-5 {
    padding: 250px 0px 150px;
    min-height: 100vh;
}

.section-5-swiper {
    height: 100%;
}

.section-5-city {
    position: relative;
}

.section-5-building {
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
}

.section-5-building--1 {
    width: 30%;
    position: absolute;
    left: 12%;
    bottom: 70%;
}

.section-5-building--2 {
    width: 20%;
    position: absolute;
    left: 51%;
    bottom: 79%;
}

.section-5-building--3 {
    width: 22%;
    position: absolute;
    left: 60%;
    bottom: 76.5%;
}

.section-5-building--4 {
    width: 23.4%;
    position: absolute;
    left: 37.9%;
    bottom: 73.4%;
}

.section-5-map {
    width: 70%;
    position: absolute;
    left: 12%;
    bottom: -33%;
}

.section-5-city img {
    width: 100%;
}

.section-5-carousel {
    position: relative;
    width: 100%;
}

.section-5-card {
    background-color: rgb(246, 226, 192);
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-5-card-decs {
    text-align: right;
    font-size: 20px;
    color: rgb(22, 133, 157);
}

.section-5-sub,
.section-5-title {
    font-size: 50px;
    color: rgb(255, 255, 255);
    text-align: right;
    font-family: "SVN-Gotham XLight";
}

.section-5-title {
    font-size: 110px;
    font-weight: 600;
}

.section-5-swiper .swiper-pagination {
    width: 20%;
    left: 82%;
    color: rgb(22, 133, 157);
}

.arrow {
    position: absolute;
    bottom: 2%;
    left: 1%;
    z-index: 1000000;
}

.section-5-floor {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.section-6 {
    padding: 20px 0px;
}

.section-6-title {
    font-size: 100px;
    color: rgb(22, 133, 157);
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: "SVN-Gotham XLight";
    font-weight: 700;
}

.line {
    height: 2px;
    width: 100%;
    background-color: rgb(22, 133, 157);
    margin: 25px 0px;
}

.news {
    color: rgb(22, 133, 157);
    cursor: pointer;
    padding: 10px;
}

.news-plus {
    font-size: 30px;
    margin-bottom: 20px;
}

.news-date {
    font-weight: 800;
    margin: 10px 0px;
}

.news-content {
    height: 60px;
    position: relative;
    font-family: "SVN-Gotham";
    font-weight: 300;
}

.news-content-text {
    transition: all 0.3s ease 0s;
}

.news:hover .news-plus {
    color: rgb(246, 227, 192);
}

.news-img {
    position: relative;
}

.news-img-over {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}

.news:hover .news-img-over {
    height: 0%;
}

.swiper-6-pagination {
    display: flex;
    justify-content: center;
    color: rgb(22, 133, 157);
    transform: translateY(100%);
}

.section-6 .arrow {
    position: absolute;
    bottom: -1%;
    left: 50%;
    z-index: 1000000;
    transform: translate(-50%, -60%);
}

.section-7 {
    padding: 50px 0px 100px;
}

.centering {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-7-wrapper {
    width: 50%;
    position: relative;
}

.section-7-title {
    width: 39%;
    position: absolute;
    top: 6%;
    left: -16%;
    z-index: 1000;
}

.section-7-next {
    width: 20%;
    position: absolute;
    top: 90%;
    left: 72%;
    z-index: 1000;
    max-width: 150px;
}

.footer-banner {
    display: flex;
}

.footer {
    background: url("../assets/images/footer-bg.png") center top no-repeat;
    background-color: #f5e1c1d4;
}

.footer-form {
    width: 70%;
    transform: translateY(-25%);
}

.footer-form-button {
    background-color: rgb(49, 181, 190);
    padding: 55px;
    cursor: pointer;
}

.footer-form-button img {
    transition: all 0.5s ease 0s;
}

.footer-form-button:hover img {
    transform: scale(1.1);
}

.footer .arrow {
    position: absolute;
    bottom: -15%;
    left: 70%;
    z-index: 1000000;
    transform: translate(-50%, -60%);
}

.footer-form-img {
    position: relative;
}

.swiper-8-pagination {
    position: absolute;
    bottom: -10%;
    display: flex;
    justify-content: end;
    color: rgb(22, 133, 157);
    left: -1%;
    z-index: 1000;
}

.member {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.member-title {
    text-align: center;
    color: rgb(72, 74, 74);
    font-family: "SVN-Gotham Book";
}

.member-logo {
    width: 100px;
    margin-top: 10px;
}

.invest-item {
    padding-right: 20px;
    width: 100px;
}

.invest-title {
    padding-bottom: 20px;
    color: rgb(72, 74, 74);
    font-family: "SVN-Gotham Book";
}

.invest-list {
    margin-bottom: 30px;
}

.invest-item-height {
    height: 50px;
    width: auto;
}

.footer-line {
    height: 2px;
    width: 300px;
    background-color: rgb(128, 173, 189);
    margin: 25px 0px;
}

.footer-decs {
    background-color: rgb(23, 133, 157);
    padding: 10px 0px;
    color: rgb(255, 255, 255);
    line-height: 16px;
    font-size: 13px;
    font-weight: 300;
}

.infor {
    color: rgb(4 63 76);
    padding-bottom: 100px;
    font-family: "SVN-Gotham Book";
    font-weight: 500;
}

.infor-name {
    color: rgb(48, 181, 190);
    font-size: 30px;
    margin-bottom: 20px;
    font-family: "SVN-Gotham Book";
    font-weight: 800;
}

.infor-desc {
    margin-top: 5px;
    /* font-family: "SVN-Gotham XLight"; */
    font-family: "SVN-Gotham Book";
}

.section-1-overlay {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* height: 100vh; */
}

.zoom-frame {
    z-index: 10000;
    height: 100vh;
    display: flex;
    align-items: center;
}

.zoom-frame img {
    height: 100%;
    max-width: auto;
}

.section-1-overlay h1 {
    z-index: 100000;
    position: absolute;
    left: 52%;
    top: 44%;
    font-size: 35px;
    color: rgb(37, 178, 186);
    font-weight: 500;
    text-transform: uppercase;
    font-family: SVN-Gotham;
}

.section-1-square {
    z-index: 100000;
    position: absolute;
    left: 50%;
    top: 47.5vh;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
}

.section-wrapper {
    z-index: 10002200;
    position: absolute;
    left: 7%;
    top: 100%;
}

.section-1 {
    position: relative;
}

.contactForm-wrapper {
    background-color: rgb(255, 240, 214);
    color: rgb(21, 133, 156);
    padding: 20px;
    font-family: "SVN-Gotham XLight";
}

.contact-form-input input {
    border: none;
    outline: none;
    font-size: 14px;
    padding-bottom: 5px;
    background-color: rgb(255, 240, 214);
    color: rgb(21, 133, 156);
}

.contact-form-input input::placeholder {
    color: rgb(21, 133, 156);
    font-weight: 800;
}

.contact-form-input {
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(21, 133, 156);
}

.contactForm-button {
    height: 60px;
    width: 60px;
    background-color: rgb(21, 133, 156);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-weight: 800;
    cursor: pointer;
    transition: all 0.5s linear 0s;
}

.contactForm-button:hover {
    transform: scale(1.1);
}

.contactForm-name {
    font-weight: 800;
    font-size: 38px;
    line-height: 60px;
}

.contactForm-wrapper {}

.contactForm-close {
    position: absolute;
    right: 1.5%;
    top: 1.5%;
    color: rgb(21, 133, 156);
    font-size: 30px;
    transition: all 0.5s linear 0s;
}

.contactForm-close:hover {
    cursor: pointer;
    color: rgb(221, 221, 221);
}

.offcanvas-start {
    width: 100vw;
    max-width: 370px;
    z-index: 2147483647;
    background-color: rgb(255, 240, 214);
    color: rgb(21, 133, 156);
}

.offcanvas-title {
    font-size: 30px;
    font-family: "SVN-Gotham XLight";
}

.nav-item {
    padding: 10px;
    margin-top: 10px;
    border-bottom: 1px solid rgba(21, 134, 156, 0.28);
    display: flex;
    color: rgb(21, 133, 156);
}

.offcanvas-body {
    padding: 0px 20px;
}

.section-bg {
    background-image: linear-gradient(45deg, #FAF5EB 0%, #ffffff 51%, #FAF5EB 100%);
}

.section-3-infor-content h3 {
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 10px;
}

.section-2-text-bg {
    width: 22vw;
}

.section-2-text-bottom,
.section-2-text-top {
    width: 100%;
    display: flex;
    text-align: center;
    text-align: justify;
}

.section-2-text-bottom {
    color: #fff;
    padding-top: 20px;
    font-size: 14px;
    line-height: 18px;
}

.section-2-text-top {
    background-image: linear-gradient(45deg, #EBD3A7 0%, #EBD3A7 44%, #ece1cb 68%, #EBD3A7 83%, #EBD3A7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 22px;
    font-size: 18px;
}