.header {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    /* padding: 0 100px; */
    z-index: 10000000;
}

.ani {
    animation-fill-mode: forwards;
}

.op-0 {
    opacity: 0;
}

.img-max {
    max-width: 100%;
}

.header img {
    height: 100%;
    width: auto;
}

.logo {
    height: 50px;
    margin-left: 20px;
}

.menu {
    height: 20px;
    margin-right: 20px;
}

/* -------------- */
html {
    background-color: #9f9f9f;
    min-height: 100vh;
    background: url("../assets/images/bg.png") no-repeat center center;
    background-position: top center;
}

.center-abs {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section {
    overflow: hidden;
    position: relative;
}

.section-1-bg {
    display: flex;
    justify-content: center;
    overflow: hidden;

    height: 100vh;
    width: 100vw;

}

.section-1-text:not(:first-child) {
    margin-top: 140px;
}

.section-1-text {
    padding-left: 60vw;
    background-image: linear-gradient(135deg, #E9D0A6 0%, #FDF2DF 48%, #E9D0A6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.section-1-text span {
    font-size: 20px;
}

.section-1-text h2 {
    margin-top: 10px;
    font-size: 50px;
    font-weight: 800;
}

.section-2 {
    position: relative;
}

.section-2-bg {
    display: flex;
    justify-content: center;
    overflow: hidden;

    height: 100vh;
    width: 100vw;

}

.section-2-title {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
}

.section-3 {
    min-height: 50vh;
    background: url("../assets/images/section_3_bg.png") no-repeat center center;
    background-position: center center;
}

.section-3-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3-title {
    font-size: 60px;
    font-weight: 800;
    color: #1A94AE;
    opacity: 0;
}

.section-3-decs {
    font-size: 30px;
    font-weight: 500;
    color: #1A94AE;
    margin: 10px 0;
}

.section-3-text {
    line-height: 22px;
}

.map {
    position: relative;
    opacity: 0;
}

.stick {
    position: absolute;
    width: 16%;
    top: 35%;
    left: 44%;
    opacity: 0;
}

.stick img {
    width: 100%;
    height: auto;
}

.section-3-infor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    height: 50%;
    padding: 30px;
    background-image: linear-gradient(135deg, #ddd4c5 0%, #E9D1A5 48%, #ddd4c5 100%);
}

.section-3-infor-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    color: #1A94AE;
}

.section-3-infor-arrow img {
    width: 40px;
}

.section-3-infor-arrow-right {
    padding-left: 8px;
}

.section-3-infor-wrapper {
    display: flex;
    align-items: end;
    height: 100%;
}

.section-3-infor-number {
    font-size: 350px;
    line-height: 230px;
    color: #1A94AE;
}

.section-3-infor-content {
    color: #1A94AE;
}

.section-4-banner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section-4-banner img {
    width: 80%;
}

.section-4-title {
    color: #1A94AE;
    padding-left: 40px;
}

.section-4-title h2 {
    font-size: 80px;
    line-height: 64px;
}

.section-4-title span {
    font-size: 25px;
    letter-spacing: 2px;
    margin-left: 20px;
    font-weight: 500;
}

.section-4-content {
    margin: 30px 0;
    padding-left: 40px;
    font-size: 18px;
}

.section-4-card img {
    width: 100%;
}

.section-4-card {
    transition: all 0.2s linear;
    transform: scale(0.9);
}

.section-4 .swiper-slide {
    transition: all 0.2s linear;
}

/* .swiper-slide-duplicate-prev {
    transform: translateX(0%) !important;
} */

.section-4 .swiper-slide-duplicate-prev {
    transform: scale(1.4) translateY(13%) !important;
}

.section-4 .swiper-slide-duplicate-active,
.section-4 .swiper-slide-active {
    transform: translateX(12%) !important;
}

.section-4 .swiper-slide-next {
    transform: translateX(-7%) !important;
}

.section-4 .swiper-slide {
    transform: translateX(-12%);
}

.section-4 .swiper-slide.swiper-slide-active,
.section-4 .swiper-slide.swiper-slide-duplicate.swiper-slide-active {
    transform: translateX(0%) !important;
}

.section-5 {
    padding: 250px 0 150px;
}

.section-5-swiper {
    height: 100%;
}

.section-5-city {
    position: relative;
}

.section-5-building {
    width: 70%;
    position: absolute;
    left: 12%;
    bottom: 70%;
}

.section-5-map {
    width: 70%;
    position: absolute;
    left: 12%;
    bottom: -33%;
}

.section-5-city img {
    width: 100%;
}

.section-5-carousel {
    position: relative;
}

.section-5-card {
    background-color: #F6E2C0;
    height: 100%;
    padding: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-5-card-decs {
    text-align: right;
    font-size: 22px;
    color: #16859D;
}

.section-5-sub,
.section-5-title {
    font-size: 50px;
    color: #fff;
    text-align: right;
}

.section-5-title {
    font-size: 90px;
}

.section-5-swiper .swiper-pagination {
    width: 20%;
    left: 82%;
    color: #16859D;
}

.arrow {
    position: absolute;
    bottom: 2%;
    left: 1%;
    z-index: 1000000;
}

.section-5-floor {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.section-6 {
    padding: 20px 0;
}

.section-6-title {
    font-size: 100px;
    color: #16859D;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #16859D;
    margin: 25px 0;
}

.news {
    color: #16859D;
    cursor: pointer;
    padding: 10px;
}

.news-plus {
    font-size: 30px;
    margin-bottom: 20px;
}

.news-date {
    font-weight: 800;
    margin: 10px 0;
}

.news-content {
    height: 60px;
    position: relative;
    font-weight: 400;
}

.news-content-text {
    transition: all 0.3s ease;
}

.news:hover .news-plus {
    color: #F6E3C0;
}

.news-img {
    position: relative;
}

.news-img-over {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.news:hover .news-img-over {
    height: 0%;
}

.swiper-6-pagination {
    display: flex;
    justify-content: center;
    color: #16859D;
    transform: translateY(100%);
}

.section-6 .arrow {
    position: absolute;
    bottom: 2%;
    left: 50%;
    z-index: 1000000;
    transform: translate(-50%, -60%);
}

.section-7 {
    padding: 50px 0 100px;
}

.centering {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-7-wrapper {
    width: 50%;
    position: relative;
}

.section-7-title {
    width: 39%;
    position: absolute;
    top: 6%;
    left: -16%;
    z-index: 1000;
}

.section-7-next {
    width: 20%;
    position: absolute;
    top: 90%;
    left: 72%;
    z-index: 1000;
    max-width: 150px;
}

.footer-banner {
    display: flex;
}

.footer {
    background: url("../assets/images/footer-bg.png") no-repeat center center;
    background-position: top center;
}

.footer-form {
    width: 50%;
    transform: translateY(-25%);
}

.footer-form-button {
    background-color: #31B5BE;
    padding: 55px;
}

.footer .arrow {
    position: absolute;
    bottom: -13%;
    left: 70%;
    z-index: 1000000;
    transform: translate(-50%, -60%);
}

.footer-form-img {
    position: relative;
}

.swiper-8-pagination {
    position: absolute;
    bottom: -7%;
    display: flex;
    justify-content: end;
    color: #16859D;
    left: -1%;
    z-index: 1000;
    /* transform: translateY(100%); */
}

.member {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 20px;
}

.member-title {
    text-align: center;
}

.member-logo {
    width: 100px;
    margin-top: 10px;
}

.invest-item {
    padding-right: 20px;
    width: 100px;
}

.invest-title {
    padding-bottom: 20px;
}

.invest-list {
    margin-bottom: 30px;
}

.invest-item-height {
    height: 50px;
    width: auto;
}

.footer-line {
    height: 2px;
    width: 300px;
    background-color: #ddd;
    margin: 25px 0;
}

.footer-decs {
    background-color: #17859D;
    padding: 10px 0;
    color: #fff;
    line-height: 16px;
    font-size: 13px;
    font-weight: 300;
}

.infor {
    color: #16859D;
    padding-bottom: 60px;
}

.infor-name {
    color: #30B5BE;
    font-size: 32px;
}

.infor-desc {
    margin-top: 5px;
}

/* ANIMATIONS */
.section-1-overlay {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.zoom-frame {
    z-index: 10000;
}

.section-1-overlay h1 {
    z-index: 100000;
    position: absolute;
    left: 51.5%;
    top: 45%;

    font-size: 30px;
    color: #25B2BA;
    font-weight: 800;
}

.section-1-square {
    z-index: 100000;
    position: absolute;
    left: 50%;
    top: 48%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.section-wrapper {
    z-index: 10002200;
    position: absolute;
    left: 7%;
    top: 100%;
}

.section-1 {
    position: relative;
}