.header {
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px 0;
    /* padding: 0 100px; */
}

.img-max {
    max-width: 100%;
}

.header img {
    height: 100%;
    width: auto;
}

.logo {
    height: 50px;
    margin-left: 20px;
}

.menu {
    height: 20px;
    margin-right: 20px;
}

/* -------------- */
html {
    background-color: #9f9f9f;
    min-height: 100vh;
    background: url("../assets/images/bg.png") no-repeat center center;
    background-position: top center;
} 

.center-abs {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section {
    overflow: hidden;
    position: relative;
}

.section-1-bg {
    display: flex;
    justify-content: center;
    overflow: hidden;
    
    height: 100vh;
    width: 100vw;

}

.section-1-text {
    margin-top: 100px;
    padding-left: 60vw;

    background-image: linear-gradient(135deg, #E9D0A6 0%, #FDF2DF 48%, #E9D0A6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-1-text span {
    font-size: 20px;
}

.section-1-text h2 {
    margin-top: 10px;
    font-size: 50px;
    font-weight: 800;
}

.section-2 {
    position: relative;
}

.section-2-bg {
    display: flex;
    justify-content: center;
    overflow: hidden;

    height: 100vh;
    width: 100vw;

}

.section-2-title {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
}

.section-3 {
    min-height: 50vh;
    background: url("../assets/images/section_3_bg.png") no-repeat center center;
    background-position: center center;
}

.section-3-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-3-title {
    font-size: 60px;
    font-weight: 800;
    color: #1A94AE;
}

.section-3-decs {
    font-size: 30px;
    font-weight: 500;
    color: #1A94AE;
    margin: 10px 0;
}

.section-3-text {
    line-height: 22px;
}

.map {
    position: relative;
}

.stick {
    position: absolute;
    width: 16%;
    top: 35%;
    left: 44%;
}

.stick img {
    width: 100%;
    height: auto;
}

.section-3-infor {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30%;
    padding: 30px;
    background-image: linear-gradient(135deg, #ddd4c5 0%, #E9D1A5 48%, #ddd4c5 100%);
}